:root {
  --font-primary: "Montserrat", sans-serif;
  --nat-navbar-bg: #0cc0df;
  --nat-navbar-bg-rgb: 12, 192, 223;
  --nat-navbar-text-color: white;
  --nat-navbar-highlight-text: #F4D35E;

  --footer-bg: #0b4f5d;
  --footer-text-color: var(--nat-navbar-text-color);

  --button-primary: #0A4D22;
  --button-secondary: #003314;
}

html, body {
  --bs-light: var(--nat-navbar-bg);
  --bs-light-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

.hero-image {
  background-image: url('/palmtrail-kahuku.jpg');
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 120px);
}

.hero-text {
  background-color: #d8e8d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
}

.hero-button {
  background-color: var(--button-primary);
  border-color: var(--button-primary);
  color: white;
}

.hero-button:hover {
  background-color: var(--button-secondary);
  border-color: var(--button-secondary);
  color: var(--nat-navbar-highlight-text);
}
